* {
  box-sizing: border-box;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: stellar;
  src: url("./PPStellar-Light.otf");
  letter-spacing: 20px;
}

@font-face {
  font-family: borg;
  src: url("./Borg.ttf");
  letter-spacing: 20px;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.anta-regular {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #030303;
  color: white;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: white;
}

a button:hover {
  color: black;
}

/* NAVBAR  */

nav {
  padding: 30px 30px;
  height: 150px;
}

#qmul-logo {
  border-radius: 50%;
  position: relative;
  width: 55px;
  height: 55px;

  /* left: 100px; */
  /* top: -15px; */
}

.flex1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.flex2 {
  width: 30%;
  min-width: 250px;
  display: flex;
  justify-content: space-evenly;

  /* background-color: pink; */
  align-items: center;
}

.flex3 {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 70px;
  /* background-color: purple; */
}

.under-line {
  display: inline-block;
  text-decoration: none;
}

.under-line::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: white;
  transition: width 0.3s;
}

.under-line:hover::after {
  width: 100%;
  cursor: pointer;
}

/* END OF NAVBAR  */

/* HERO SECTION */

#hero {
  /* margin-bottom: 500px; */
  /* min-height: 100vh; */
  margin-bottom: 400px;
  /* background-color: red; */
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-container img {
  object-fit: contain;
  width: 500px;
  padding-top: 40px;
  border-radius: 30%;
}

.hero-text {
  font-size: 30px;
}

#hero h1 {
  font-family: stellar;
}

button {
  padding: 20px 60px;
  border: none;
  outline: none;
  position: relative;
  z-index: 1;
  background: linear-gradient(to right, #00ffa3, #800080);
  cursor: pointer;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

#hero button {
  bottom: 30px;
}

button::before {
  content: "";
  position: absolute;
  left: 3px;
  right: 3px;
  top: 3px;
  bottom: 3px;
  background-color: black;
  z-index: -1;
  transition: 200ms;
}
button::after {
  content: attr(data);
  font-size: 16px;
  background: linear-gradient(to left, #00ffa3, #800080);
  -webkit-background-clip: text;
  color: transparent;
  transition: 200ms;
}
button:hover::before {
  opacity: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: white;
}
button:hover {
  color: black;
}
.arrow-icon {
  font-size: 25px;
  color: grey;
  scale: 1;
  transition: transform 1500ms;
  position: relative;
  bottom: 60px;
}

/* END OF HERO  */

/* PRODUCT SECTION*/

#product {
  position: relative;
  width: 100%;
  height: 500px;
  margin: 0px auto;
}

.product {
  /* background-color: pink; */
  position: relative;
  width: 800px;
  perspective: 1400px;
  transform-style: preserve-3d;
  margin: 0px auto;
}

.product h2 {
  position: relative;
  top: -200px;
  text-align: center;
  padding: 50px;
  margin-top: 250px;
}

.product label,
.product label img {
  position: absolute;
  width: 600px;
  height: 350px;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  font-size: 70px;
  justify-content: center;
  transition: transform 500ms ease;
}

.product img {
  border: 5px solid #fff;
  object-fit: cover;
}

/* IMAGE SLIDESHOW  */
.card {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card-img {
  width: 100%;
  height: 100%;
}

.card-body {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  background: #3c3b524e;
  backdrop-filter: blur(7px);
  border: 5px solid white;
  padding: 20px;
  transition: 2s;
}

.card-title {
  margin-top: 30px;
  font-size: 30px;
  font-family: stellar;
}

.card-text {
  font-size: 15px;
  /* color: #bbbbbb; */
  color: #d9dddc;
  font-family: "Fredoka", sans-serif;
  line-height: 20px;
}

#s1:checked ~ #slider1,
#s2:checked ~ #slider2,
#s3:checked ~ #slider3 {
  box-shadow: 0px 13px 26px rgba(235, 228, 228, 0.119),
    0 1px 6px rgba(161, 142, 142, 0.2);
  transform: translate3d(0%, 0, 0px);
  .card {
    cursor: pointer;
  }
  /* .card:hover .c6ard-body {
    right: 0;
  } */

  /* .card:active .card-body {
    right: 0;
  } */
}

#s1:checked ~ #slider2,
#s2:checked ~ #slider3,
#s3:checked ~ #slider1 {
  transform: translate3d(20%, 0, -100px);
  box-shadow: 0px 13px 26px rgba(235, 228, 228, 0.119),
    0 1px 6px rgba(161, 142, 142, 0.2);
  .card:hover {
    cursor: pointer;
  }
}

#s1:checked ~ #slider3,
#s2:checked ~ #slider1,
#s3:checked ~ #slider2 {
  transform: translate3d(40%, 0, -250px);
  box-shadow: 0px 13px 26px rgba(235, 228, 228, 0.119),
    0 1px 6px rgba(161, 142, 142, 0.2);
  .card:hover {
    cursor: pointer;
  }
}

/* END OF IMAGE SLIDESHOW  */

input[type="radio"] {
  position: relative;
  top: 0%;
  left: 50%;
  width: 18px;
  height: 18px;
  opacity: 0;
  background-color: red;
}

/* PRODUCT SECTION*/

/* VIDEO SECTION */

#video-section {
  position: relative;
  /* margin-bottom: 200px; */
}

#video {
  border-radius: 10px;
  width: 600px;
  height: 450px;
}

#video-section h2 {
  margin-bottom: 120px;
}
/* END OF VIDEO SECTION */

/* CONTRIBUTORS SECTION */

#contributors {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
  position: relative;
}

.contributors-container {
  max-width: 1000px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.contributor-card {
  background-color: #07042d;
  width: 280px;
  height: 370px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  transition: scale 0.5s ease-out;
}

.contributor-card:hover {
  scale: 1.3;
  background-color: #060821;
}
#contributors h2 {
  margin-bottom: 60px;
  padding: 50px;
}

.contributor-img {
  border-radius: 50%;
  width: 180px;
  object-fit: contain;
}

.contributor-name {
  font-family: stellar;
  margin-top: 50px;
}

.social-icons {
  display: flex;
  width: 100px;
  justify-content: space-between;
}

.social-icons i {
  scale: 1.1;
  cursor: pointer;
}

.icons {
  color: white;
  border: 2px solid white;
  border-radius: 50%;
  padding: 8px;
}

.icons:hover {
  color: #07042d;
  background-color: white;
}

/* END OF CONTRIBUTORS SECTION */

/* FOOTER */

#footer {
  display: flex;
  justify-content: center;
}

.footer {
  width: 100%;
  height: 200px;
  background-color: #07042d;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#github {
  width: 230px;
  height: 60px;

  border: none;
  background-color: white;
  margin-bottom: 10px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

#github-logo {
  scale: 1.5;
  position: relative;
  left: 10px;
}

.copyright {
  color: white;
  font-size: 13px;
  font-family: "Fredoka", sans-serif;
  position: relative;
  top: 30px;
}

/* END OF NAVBAR */

@media only screen and (max-width: 950px) {
  .product {
    width: 600px;
  }

  .product label,
  .product label img {
    width: 450px;
    height: 263px;
  }
  .card-title {
    margin-top: 20px;
    font-size: 20px;
  }
  .hero img {
    width: 400px;
  }

  #hero h1 {
    font-size: 35px;
  }
}

@media only screen and (max-width: 800px) {
  #video {
    width: 500px;
    height: 375px;
  }
}

@media only screen and (max-width: 700px) {
  h2 {
    font-size: 20px;
  }

  nav {
    padding: 30px 10px;
  }

  .flex2,
  .flex3 {
    min-width: 200px;
    font-size: 13px;
  }

  .flex3 {
    margin-left: 20px;
    justify-content: space-around;
    align-items: center;
  }

  .product {
    width: 400px;
    /* left: 30px; */
  }

  .product h2 {
    width: 500px;
    position: relative;
    left: -30px;
  }

  .product label,
  .product label img {
    width: 325px;
    height: 190px;
  }

  .product label img,
  .card-body {
    border: 2px solid white;
    overflow-y: scroll;
  }
  .card-title {
    margin-top: 10px;
    font-size: 15px;
  }
  .card-text {
    font-size: 13px;
  }

  #video-section {
    top: -250px;
  }

  #contributors {
    top: -225px;
    margin-bottom: 50px;
  }

  #contributors h2 {
    margin-bottom: 30px;
  }

  #video-section h2 {
    margin-bottom: 90px;
  }
}

@media only screen and (max-width: 550px) {
  #qmul-logo {
    width: 35px;
    height: 35px;
  }

  #hero img {
    width: 400px;
  }

  #hero h1 {
    font-size: 30px;
  }

  #video {
    width: 400px;
    height: 300px;
  }

  .product {
    width: 300px;
    left: -30px;
  }

  .product h2 {
    width: 400px;
  }

  .product label,
  .product label img {
    width: 275px;
    height: 160px;
  }
  .card-title {
    margin-top: -10px;
    font-size: 15px;
  }
  .card-text {
    font-size: 12px;
    line-height: 15px;
  }

  #hero {
    margin-bottom: 0px;
  }

  .contributor-card {
    width: 250px;
    height: 340px;
  }

  .contributor-card:hover {
    scale: 1.1;
  }

  .contributor-img {
    width: 150px;
  }
}

@media only screen and (max-width: 450px) {
  .flex2,
  .flex3 {
    min-width: 150px;
    font-size: 12px;
  }

  .flex2 {
    width: 175px;
    justify-content: space-between;
  }
  .flex3 {
    margin-bottom: 30px;
    justify-content: space-evenly;
    align-items: center;
  }

  .flex1 {
    flex-direction: column;
  }

  #qmul-logo {
    left: -7px;
  }

  #hero img {
    width: 300px;
  }

  #hero h1 {
    width: 300px;
  }

  #video {
    width: 300px;
    height: 225px;
  }

  .product {
    width: 250px;
    left: -30px;
  }
  .product h2 {
    width: 350px;
  }

  .product label,
  .product label img {
    width: 250px;
    height: 145px;
  }
}

@media only screen and (max-width: 350px) {
  #video {
    width: 250px;
    height: 187.5px;
  }

  .product {
    width: 200px;
    left: -30px;
  }
  .product h2 {
    width: 300px;
  }

  h2 {
    font-size: 17px;
  }

  .product label,
  .product label img {
    width: 200px;
    height: 116px;
  }
  .card-title {
    margin-top: -10px;
    font-size: 13px;
  }
  .card-text {
    font-size: 10px;
    line-height: 15px;
  }
}
